# Intel Stock Analyser
Version 1.0

In this simple stock analyser I will explore balance sheet items that correlate with the opening- and closing stock price of Intel. Specifically for the last half of 2021.

In [1]:
# Import required packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv
import datetime

In [2]:
# Read data into sessiom
stock = pd.read_csv('data/stock_history.csv')
balance = pd.read_csv('data/balance.csv')

In [3]:
# Check out data structure with head function
stock.head()
balance.head()

,Unnamed: 0,2021-12-25,2021-09-25,2021-06-26,2021-03-27
0,Intangible Assets,7.270000e+09,7.684000e+09,8.018000e+09,8.408000e+09
1,Total Liab,7.301500e+10,7.787500e+10,6.939000e+10,7.081500e+10
2,Total Stockholder Equity,9.539100e+10,9.008700e+10,8.520700e+10,7.980700e+10
3,Other Current Liab,2.555000e+09,5.560000e+08,6.180000e+08,6.090000e+08
4,Total Assets,1.684060e+11,1.679620e+11,1.545970e+11,1.506220e+11

In [4]:
# Rename incorrect first column name to 'Balance Item'
# Check out head after changing data
balance = balance.rename(columns={'Unnamed: 0' : 'Balance Item'})
balance.head()

,Balance Item,2021-12-25,2021-09-25,2021-06-26,2021-03-27
0,Intangible Assets,7.270000e+09,7.684000e+09,8.018000e+09,8.408000e+09
1,Total Liab,7.301500e+10,7.787500e+10,6.939000e+10,7.081500e+10
2,Total Stockholder Equity,9.539100e+10,9.008700e+10,8.520700e+10,7.980700e+10
3,Other Current Liab,2.555000e+09,5.560000e+08,6.180000e+08,6.090000e+08
4,Total Assets,1.684060e+11,1.679620e+11,1.545970e+11,1.506220e+11

In [5]:
# Add column 'Ticker' to datasets which is INTC
stock['Ticker'] = 'INTC'
balance['Ticker'] = 'INTC'

In [6]:
# Check out stock data types
# Date variable needs to be changed to DateTime variable
stock.dtypes

Date             object
Open            float64
High            float64
Low             float64
Close           float64
Volume            int64
Dividends       float64
Stock Splits      int64
Ticker           object
dtype: object

In [7]:
# Check out balance data types
balance.dtypes

Balance Item     object
2021-12-25      float64
2021-09-25      float64
2021-06-26      float64
2021-03-27      float64
Ticker           object
dtype: object

In [30]:
# Transform stock field 'Date' to Datetime variable
stock['Date'] = pd.to_datetime(stock['Date'])

# Add monthly data to stock dataset
stock['Month'] = stock['Date'].dt.to_period('M')

# Also add day name and month name to stock dataset
stock['Day Name'] = stock['Date'].dt.day_name()
stock['Month Name'] = stock['Date'].dt.month_name()

# Check data
stock.head(1)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Ticker,Month,Day Name,Month Name
0,2021-02-01,54.5359,55.939503,54.301964,55.257195,26926600,0.0,0,INTC,2021-02,Monday,February

In [33]:
stock.groupby(['Month']).mean()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Month,,,,,,,
2021-02,58.580371,59.631830,57.959799,58.978404,2.691259e+07,0.018316,0.0
2021-03,61.744216,62.805015,60.793420,61.661927,3.351321e+07,0.000000,0.0
2021-04,62.009274,62.571508,61.117824,61.864513,3.118737e+07,0.000000,0.0
2021-05,55.422867,55.857855,54.808946,55.351540,2.476921e+07,0.017400,0.0
2021-06,56.165531,56.566931,55.550649,56.056996,2.326696e+07,0.000000,0.0
2021-07,54.527340,55.034777,53.975268,54.509486,2.461657e+07,0.000000,0.0
2021-08,53.195218,53.474364,52.698695,53.096051,1.828888e+07,0.015818,0.0
2021-09,53.602477,53.982690,53.177338,53.538162,1.968162e+07,0.000000,0.0
2021-10,52.195121,52.656674,51.659323,52.144521,3.199928e+07,0.000000,0.0
2021-11,50.084828,50.544973,49.579443,50.065498,2.938292e+07,0.016571,0.0
2021-12,50.878182,51.397273,50.268636,50.771364,3.248340e+07,0.000000,0.0
2022-01,52.977000,53.643500,52.060000,52.813000,4.318557e+07,0.000000,0.0