# Intel Stock Analyser
Version 1.0

In this simple stock analyser I will explore balance sheet items that correlate with the opening- and closing stock price of Intel. Specifically for the last half of 2021.

In [11]:
# Import required packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv
import datetime

In [12]:
# Read data into sessiom
stock = pd.read_csv('data/stock_history.csv')
balance = pd.read_csv('data/balance.csv')

In [22]:
# Check out data structure with head function
stock.head()
balance.head()

,Unnamed: 0,2021-12-25,2021-09-25,2021-06-26,2021-03-27
0,Intangible Assets,7.270000e+09,7.684000e+09,8.018000e+09,8.408000e+09
1,Total Liab,7.301500e+10,7.787500e+10,6.939000e+10,7.081500e+10
2,Total Stockholder Equity,9.539100e+10,9.008700e+10,8.520700e+10,7.980700e+10
3,Other Current Liab,2.555000e+09,5.560000e+08,6.180000e+08,6.090000e+08
4,Total Assets,1.684060e+11,1.679620e+11,1.545970e+11,1.506220e+11

In [25]:
# Rename incorrect first column name to 'Balance Item'
# Check out head after changing data
balance = balance.rename(columns={'Unnamed: 0' : 'Balance Item'})
balance.head()

,Balance Item,2021-12-25,2021-09-25,2021-06-26,2021-03-27
0,Intangible Assets,7.270000e+09,7.684000e+09,8.018000e+09,8.408000e+09
1,Total Liab,7.301500e+10,7.787500e+10,6.939000e+10,7.081500e+10
2,Total Stockholder Equity,9.539100e+10,9.008700e+10,8.520700e+10,7.980700e+10
3,Other Current Liab,2.555000e+09,5.560000e+08,6.180000e+08,6.090000e+08
4,Total Assets,1.684060e+11,1.679620e+11,1.545970e+11,1.506220e+11

In [4]:
# Add column 'Ticker' to datasets which is INTC
stock['Ticker'] = 'INTC'
balance['Ticker'] = 'INTC'

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,ticker
0,2021-02-01,54.535900,55.939503,54.301964,55.257195,26926600,0.000,0,INTC
1,2021-02-02,55.744563,56.807014,55.442400,56.534092,23580900,0.000,0,INTC
2,2021-02-03,56.426871,56.855753,55.929762,56.222179,21893200,0.000,0,INTC
3,2021-02-04,56.494797,57.740213,56.082925,57.651955,29853800,0.348,0,INTC
4,2021-02-05,57.857887,57.936340,56.994921,57.053761,23432600,0.000,0,INTC

In [26]:
# Check out stock data types
# Date variable needs to be changed to DateTime variable
stock.dtypes

Date             object
Open            float64
High            float64
Low             float64
Close           float64
Volume            int64
Dividends       float64
Stock Splits      int64
dtype: object

In [27]:
# Check out balance data types
balance.dtypes

Balance Item     object
2021-12-25      float64
2021-09-25      float64
2021-06-26      float64
2021-03-27      float64
dtype: object

In [28]:
# Transform stock field 'Date' to Datetime variable
stock['Date'] = pd.to_datetime(stock['Date'])