# Intel Stock Analyser
Version 1.0

In this simple stock analyser I will explore balance sheet items that correlate with the opening- and closing stock price of Intel. Specifically for 2021.

In [1]:
# Import required packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv
import datetime

In [23]:
# Read data into sessiom
stock = pd.read_csv("data/stock_history.csv", sep = ",")

# Read balance sheet into session
balance_sheet = pd.read_csv("data/balance_sheet.csv", sep = ",")

# Set index_col = [0] to prevent creation of column: 'Unnamed: 0'
recommendations = pd.read_csv("data/recommendations.csv", sep = ",", index_col = [0])

In [30]:
# Check out data structure with head function

#Stock
stock.head()

#Balance_sheet
balance_sheet.head()

# Rename incorrect first column name to 'Balance Item'
# Check out head after changing data
balance_sheet = balance_sheet.rename(columns={'Unnamed: 0' : 'Balance Item'})
balance_sheet.head()

#Recommendations
recommendations.head()

,Balance Item,2021-12-25,2021-09-25,2021-06-26,2021-03-27
0,Intangible Assets,7.270000e+09,7.684000e+09,8.018000e+09,8.408000e+09
1,Total Liab,7.301500e+10,7.787500e+10,6.939000e+10,7.081500e+10
2,Total Stockholder Equity,9.539100e+10,9.008700e+10,8.520700e+10,7.980700e+10
3,Other Current Liab,2.555000e+09,5.560000e+08,6.180000e+08,6.090000e+08
4,Total Assets,1.684060e+11,1.679620e+11,1.545970e+11,1.506220e+11

In [29]:
# Rename incorrect first column name to 'Balance Item'
# Check out head after changing data
balance_sheet = balance_sheet.rename(columns={'Unnamed: 0' : 'Balance Item'})

,Balance Item,2021-12-25,2021-09-25,2021-06-26,2021-03-27
0,Intangible Assets,7.270000e+09,7.684000e+09,8.018000e+09,8.408000e+09
1,Total Liab,7.301500e+10,7.787500e+10,6.939000e+10,7.081500e+10
2,Total Stockholder Equity,9.539100e+10,9.008700e+10,8.520700e+10,7.980700e+10
3,Other Current Liab,2.555000e+09,5.560000e+08,6.180000e+08,6.090000e+08
4,Total Assets,1.684060e+11,1.679620e+11,1.545970e+11,1.506220e+11

In [31]:
# Add column 'Ticker' to datasets which is INTC
stock['Ticker'] = 'INTC'
balance_sheet['Ticker'] = 'INTC'

In [38]:
# Check out stock data types
# For stock dataset, de date variable needs to be changed to datetime variable
stock.dtypes
stock['Date'] = pd.to_datetime(stock['Date'])
stock.dtypes

# Add monthly data to stock dataset
stock['Month'] = stock['Date'].dt.to_period('M')

# Also add day name and month name to stock dataset
stock['Day Name'] = stock['Date'].dt.day_name()
stock['Month Name'] = stock['Date'].dt.month_name()\

#stock checkout
stock.head(1)

,Date,Open,High,Low,Close,Adj Close,Volume,Ticker,Month,Day Name,Month Name
0,2020-12-31,48.75,50.189999,48.720001,49.82,48.560837,28576800,INTC,2020-12,Thursday,December

In [40]:
#Check out data types for balance_sheet and recommendations
balance_sheet.dtypes
recommendations.dtypes

Recommendation    object
To Grade           int64
dtype: object