# Downloading financial information
## Using Yahoo Finance using yfinance

Version 1.0

This markdown script is used as a test to download financial data from Yahoo Finance using the yfinance package.

In [1]:
# Import required packages
import yfinance as yf
import pandas as pd
import numpy as np

In [2]:
# Set tickers to download and collect data from
Tickers = ['INTC', 'AMD']
start_date = "2021-01-01"
end_date = "2021-12-31"

# Initialise Ticker dictionary to loop through.
Ticker_df = {}

# Download stock history based on tickers in the Tickers list
for Ticker in Tickers:
    Ticker_df[Ticker] = yf.download(Ticker, start = start_date, end = end_date)

# Store stock history in data folder based on Ticker_df
#for Ticker in Ticker_df:
#    Ticker_df[Ticker].to_csv("data/stock_history_" + str(Ticker) + ".csv", sep = ",")

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [29]:
for i in Ticker_df:    
    globals()[i]=Ticker_df[i]

In [ ]:
for i in Tickers:
    globals()[i]['Company'] = i

In [43]:
for i in Tickers:
    globals()[i] = globals()[i].reset_index(level=0)

In [60]:
data = pd.concat([AMD, INTC], ignore_index = False)

,Date,Open,High,Low,Close,Adj Close,Volume,Company,index
0,2020-12-31,92.099998,92.300003,90.870003,91.709999,91.709999,24930700,AMD,NaN
1,2021-01-04,92.110001,96.059998,90.919998,92.300003,92.300003,51802600,AMD,NaN
2,2021-01-05,92.099998,93.209999,91.410004,92.769997,92.769997,34208000,AMD,NaN
3,2021-01-06,91.620003,92.279999,89.459999,90.330002,90.330002,51911700,AMD,NaN
4,2021-01-07,91.330002,95.510002,91.199997,95.160004,95.160004,42897200,AMD,NaN
...,...,...,...,...,...,...,...,...,...
247,2021-12-23,51.080002,51.730000,51.049999,51.310001,50.522728,25198200,INTC,247.0
248,2021-12-27,51.349998,52.060001,51.299999,51.939999,51.143055,20985400,INTC,248.0
249,2021-12-28,51.930000,52.119999,51.630001,51.759998,50.965816,19290400,INTC,249.0
250,2021-12-29,51.810001,52.139999,51.660000,51.830002,51.034748,14174800,INTC,250.0
251,2021-12-30,51.919998,52.139999,51.650002,51.740002,50.946129,18359400,INTC,251.0

In [71]:
vLoad_Stocks = True

if vLoad_Stocks:
    print("Yello!")

Yello!

In [6]:
# Get quarterly balance sheets
Ticker_sheets = {}

# Get quarterly balance sheets based on the Ticker list
for Ticker in Ticker_df:
    Ticker_object = yf.Ticker(Ticker)
    Ticker_sheets[Ticker] = Ticker_object.quarterly_balance_sheet
    
# Store quarterly balance sheets    
for Ticker in Ticker_sheets:
    Ticker_sheets[Ticker].to_csv("data/quarterly_balance_sheets_" + str(Ticker) + ".csv", sep = ",")