In [1]:
# Import required packages
import os
import yfinance as yf
import pandas as pd
import numpy as np

In [2]:
# Set tickers
Tickers = ['INTC', 'AMD']

In [14]:
# Get stock data
data = yf.download('INTC', start = '2021-01-01', end = '2021-01-31')
data.head(n = 5)

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close    Volume
Date
2020-12-31  48.750000  50.189999  48.720001  49.820000  47.815742  28576800
2021-01-04  49.889999  51.389999  49.400002  49.669998  47.671772  46102500
2021-01-05  49.450001  50.830002  49.330002  50.610001  48.573959  24866600
2021-01-06  50.439999  52.150002  50.200001  51.099998  49.044247  36809600
2021-01-07  51.490002  52.689999  51.299999  52.189999  50.090389  32092300

In [15]:
# Reset the index
data.reset_index(inplace = True)
data.head(n = 5)

        Date       Open       High        Low      Close  Adj Close    Volume
0 2020-12-31  48.750000  50.189999  48.720001  49.820000  47.815742  28576800
1 2021-01-04  49.889999  51.389999  49.400002  49.669998  47.671772  46102500
2 2021-01-05  49.450001  50.830002  49.330002  50.610001  48.573959  24866600
3 2021-01-06  50.439999  52.150002  50.200001  51.099998  49.044247  36809600
4 2021-01-07  51.490002  52.689999  51.299999  52.189999  50.090389  32092300

In [17]:
# Add ticker value to the stock history
data['COMPANY'] = 'INTC'
data.head(n = 5)

,Date,Open,High,Low,Close,Adj Close,Volume,COMPANY
0,2020-12-31,48.750000,50.189999,48.720001,49.820000,47.815742,28576800,INTC
1,2021-01-04,49.889999,51.389999,49.400002,49.669998,47.671772,46102500,INTC
2,2021-01-05,49.450001,50.830002,49.330002,50.610001,48.573959,24866600,INTC
3,2021-01-06,50.439999,52.150002,50.200001,51.099998,49.044247,36809600,INTC
4,2021-01-07,51.490002,52.689999,51.299999,52.189999,50.090389,32092300,INTC

In [20]:
# Rename columns
data = data.rename(columns={'Date':'Stock Date',
                    'Open':'Stock Open',
                    'High':'Stock High',
                    'Low':'Stock Low',
                    'Close':'Stock Close',
                    'Adj Close':'Stock Adj Close',
                    'Volume':'Stock Volume'})
data.head(n = 5)

,Stock Date,Stock Open,Stock High,Stock Low,Stock Close,Stock Adj Close,Stock Volume,COMPANY
0,2020-12-31,48.750000,50.189999,48.720001,49.820000,47.815742,28576800,INTC
1,2021-01-04,49.889999,51.389999,49.400002,49.669998,47.671772,46102500,INTC
2,2021-01-05,49.450001,50.830002,49.330002,50.610001,48.573959,24866600,INTC
3,2021-01-06,50.439999,52.150002,50.200001,51.099998,49.044247,36809600,INTC
4,2021-01-07,51.490002,52.689999,51.299999,52.189999,50.090389,32092300,INTC