In [2]:
# Import required packages
import os
import yfinance as yf
import pandas as pd
import numpy as np

In [3]:
# Set tickers
Tickers = ['INTC', 'AMD']

In [19]:
# Get stock data
data = yf.download('INTC', start = '2021-01-01', end = '2021-01-31', rounding = True)
data.head(n = 5)

[*********************100%***********************]  1 of 1 completed

             Open   High    Low  Close  Adj Close    Volume
Date
2020-12-31  48.75  50.19  48.72  49.82      47.82  28576800
2021-01-04  49.89  51.39  49.40  49.67      47.67  46102500
2021-01-05  49.45  50.83  49.33  50.61      48.57  24866600
2021-01-06  50.44  52.15  50.20  51.10      49.04  36809600
2021-01-07  51.49  52.69  51.30  52.19      50.09  32092300

In [20]:
# Reset the index
data.reset_index(inplace = True)
data.head(n = 5)

        Date   Open   High    Low  Close  Adj Close    Volume
0 2020-12-31  48.75  50.19  48.72  49.82      47.82  28576800
1 2021-01-04  49.89  51.39  49.40  49.67      47.67  46102500
2 2021-01-05  49.45  50.83  49.33  50.61      48.57  24866600
3 2021-01-06  50.44  52.15  50.20  51.10      49.04  36809600
4 2021-01-07  51.49  52.69  51.30  52.19      50.09  32092300

In [21]:
# Add ticker value to the stock history
data['COMPANY'] = 'INTC'
data.head(n = 5)

        Date   Open   High    Low  Close  Adj Close    Volume COMPANY
0 2020-12-31  48.75  50.19  48.72  49.82      47.82  28576800    INTC
1 2021-01-04  49.89  51.39  49.40  49.67      47.67  46102500    INTC
2 2021-01-05  49.45  50.83  49.33  50.61      48.57  24866600    INTC
3 2021-01-06  50.44  52.15  50.20  51.10      49.04  36809600    INTC
4 2021-01-07  51.49  52.69  51.30  52.19      50.09  32092300    INTC

In [31]:
# Rename columns
data = data.rename(columns={'Date':'Stock Date',
                    'Open':'Stock Open',
                    'High':'Stock High',
                    'Low':'Stock Low',
                    'Close':'Stock Close',
                    'Adj Close':'Stock Adj Close',
                    'Volume':'Stock Volume'})
data.head(n = 5)

,Stock Date,Stock Open,Stock High,Stock Low,Stock Close,Stock Adj Close,Stock Volume,COMPANY
0,2020-12-31,0 0 48.75\n1 49.89\n2 49.45\n3...,50.19,48.72,49.82,47.82,28576800,INTC
1,2021-01-04,0 0 48.75\n1 49.89\n2 49.45\n3...,51.39,49.40,49.67,47.67,46102500,INTC
2,2021-01-05,0 0 48.75\n1 49.89\n2 49.45\n3...,50.83,49.33,50.61,48.57,24866600,INTC
3,2021-01-06,0 0 48.75\n1 49.89\n2 49.45\n3...,52.15,50.20,51.10,49.04,36809600,INTC
4,2021-01-07,0 0 48.75\n1 49.89\n2 49.45\n3...,52.69,51.30,52.19,50.09,32092300,INTC

In [32]:
data['Stock Open'] = float(data['Stock Open'])

TypeError: cannot convert the series to <class 'float'>