In [1]:
# Import required packages
import os
import yfinance as yf
import pandas as pd
import numpy as np

In [2]:
# Set Ticker
ticker = yf.Ticker('INTC')

In [36]:
# Create empty data frame based on data model
COMPANIES = pd.DataFrame(columns=['COMPANY', 'Company Name', 'Company Ticker', 'Company Sector', 'Company Industry', 'Company Country'])
COMPANIES

Empty DataFrame
Columns: [COMPANY, Company Name, Company Ticker, Company Sector, Company Industry, Company Country]
Index: []

In [70]:
# Get info from ticker
info = ticker.info

info = pd.DataFrame.from_dict(info, orient='index')
info = info.reset_index()
info.columns = ['Class', 'Data']
info = info.transpose()
info.columns = info.iloc[0]
info = info.drop(index='Class')
info = info[['sector','symbol', 'industry', 'country', 'longName']]

# Rename columns
info = info.rename(columns={'symbol':'Company Ticker',
                    'industry':'Company Industry',
                    'country':'Company Country',
                    'longName':'Company Name',
                    'sector':'Company Sector'})

info['COMPANY'] = info['Company Ticker']
info

COMPANIES = pd.concat(objs=[COMPANIES, info])
COMPANIES

,COMPANY,Company Name,Company Ticker,Company Sector,Company Industry,Company Country
Data,INTC,Intel Corporation,INTC,Technology,Semiconductors,United States
Data,INTC,Intel Corporation,INTC,Technology,Semiconductors,United States
Data,INTC,Intel Corporation,INTC,Technology,Semiconductors,United States